@page
@using _37_webapp_Sqlite.Models
@using _37_webapp_Sqlite.Utilities
@model ProdottiModel


@{
    ViewData["Title"] = "Prodotti";
    CreateModel createModel = new CreateModel();
    createModel.CaricaCategorie();
    createModel.CaricaFornitori();
    // Configuriamo il modello per la paginazione.
    var paginationModel = new PaginationModel
    {
        PageIndex = Model.Products.PageIndex,
        TotalPages = Model.Products.TotalPages,
        PageUrl = page => Url.Page("Prodotti", new { pageIndex = page })
    };

}

<h1>@ViewData["Title"]</h1>

<h1>Totale prodotti: @Model.TotaleProdotti</h1>
<form method="post" asp-page="Create">
<table class="table text-white">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome Prodotto</th>
            <th>Prezzo</th>
            <th>Categoria</th>
            <th>Fornitore</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
       @{ Html.RenderPartial("_CreatePartial", createModel); }
        @foreach (var prodotto in Model.Products)
        {
            <tr>
                <td>@prodotto.Id</td>
                <td>@prodotto.Nome</td>
                <td>@PriceFormatter.Format(prodotto.Prezzo)</td>
                <td>@prodotto.CategoriaNome</td>
                <td>@prodotto.FornitoreNome</td>
                <td>
                    <div class="btn-group">
                        <a asp-page="Dettagli" class="btn btn-info" asp-route-id="@prodotto.Id">Dettagli</a>
                        <a asp-page="Edit" class="btn btn-warning" asp-route-id="@prodotto.Id">Edit</a>
                        <a asp-page="Delete" class="btn btn-danger" asp-route-id="@prodotto.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Pagination", paginationModel)
</form>
