@using _37_webapp_Sqlite.Models
@{
    Prodotto Prodotto = Model.Prodotto; // oggetto che rappresenta il prodotto che verrà inserito/modificato. Viene ottenuto dal modello (Model.Prodotto).
    List<SelectListItem> Categorie = Model.CategorieSelectList; // È una lista di oggetti SelectListItem che contiene le categorie di prodotti da visualizzare nel campo select. 
                                                                //Questi vengono recuperati dal modello (Model.CategorieSelectList).
}
<tr>
    <td> # </td>
    <td>
        <input asp-for="@Prodotto.Nome" class="form-control" />
        <span asp-validation-for="@Prodotto.Nome" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="@Prodotto.Prezzo" class="form-control" />
        <span asp-validation-for="@Prodotto.Prezzo" class="text-danger"></span>
    </td>
    <td>
        <select asp-for="@Prodotto.CategoriaId" class="form-control" asp-items="@Categorie">
            <option value="">-- Seleziona Categoria --</option>
        </select>
        <span asp-validation-for="@Prodotto.CategoriaId" class="text-danger"></span>
    </td>
    <td>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">Aggiungi</button>
            <a asp-page="Prodotti" class="btn btn-secondary">Annulla</a>
        </div>
    </td>
</tr>